@import "../../assets/styles/variables";

.survey-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  gap: 10px;

  &__title {
    font-size: 20px;
    color: $tg-theme-subtitle-text;
    font-weight: $font-weight-bold;
    margin-bottom: 10px;
  }

  &__rating-label {
    padding-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    color: $tg-theme-text;
    font-weight: $font-weight-regular;
    text-align: center;
    line-height: 25px;
    margin-bottom: 12px;
  }

  &__italic-text { // Додаємо або оновлюємо цей клас для курсивного тексту
    font-style: italic; // Зробити текст курсивом
    font-size: 12px; // Або будь-який розмір шрифту, який вам потрібен
    color: $tg-theme-hint; // Використовуємо колір тексту зі змінних (змініть на своє значення, якщо потрібно)
    margin-bottom: 10px; // Додаємо відступ знизу для відокремлення від наступних елементів
    text-align: center; // Вирівнювання тексту зліва
    padding-left: 15px;
  }
}